<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

    {% include('snippets/icons.twig') %}
  
    <link href="https://fonts.googleapis.com/css?family=ABeeZee|Poppins:300,400,600|Inconsolata:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/app.css">
    
</head>
<body class="font-body" id="body">
    <div class="">

        {% include ('snippets/header') %}

        <main class="">
            {% block content %}Nothing here{% endblock %}
        </main>

        {% include ('snippets/footer') %}

    </div>

    {% block javascripts %}

    {% endblock %}

    <script src="/assets/js/app.js"></script>
</body>
</html>
