<div class="absolute left-0 top-0 right-0">
    <div class="center-content px-6">
        <header class=" max-w-full m-auto pt-4 relative flex justify-between items-center">
            
            <a href="/" class="block flex items-center hover:no-underline">
                <div class="bg-white rounded py-1 mr-2 sm:mr-4 h-10 w-10 sm:h-12 sm:w-12">
                    <img class="h-full m-auto" src="/assets/images/logo-rounded.svg">
                </div>
                <h1 class="text-3xl sm:text-4xl text-white font-heading tracking-wide leading-none">
                    servd
                </h1>
            </a>
        </header>
    </div>
</div>
