{% extends '_layout' %}

{% block content %}

    <div class="hero hero-bluebg pt-32 md:pt-40 pb-32 md:pb-48">
        <div class="center-content">
            <div class="max-w-xl m-auto text-white text-center px-4">
                <h2 class="text-4xl sm:text-5xl md:text-5xl leading-tight mb-6 md:mb-10 font-heading">Oh No</h2>
                <p class="text-lg md:text-2xl mb-8 md:mb-12 font-light leading-tight">FOUR OH FOUR!</p>
            </div>
        </div>
    </div>
    
{% endblock %}
